<div class="yui-g first w100">
	<% form_for(@group) do |f| %>
	  <%= f.error_messages %>
	<div class="yui-u first">
		<%= f.label :name, nil, :class => 'block'  %>
	    <%= f.text_field :name, :class => 'field' %>

	    <%= f.label :description, nil, :class => 'block' %>
	    <%= f.text_area :description, :size => '28x5', :class => 'field' %>
	
		<%= f.submit "Create", :class => 'button' %> or go <%= link_to 'back', social_path %>
	</div>
	<div class="yui-u">
		<%= f.label :photo, nil, :class => 'block' %>
	    <%= f.text_field :photo, :class => 'field' %>

	   	<%= f.label :privacy, nil, :class => 'block' %>
	    <%= f.text_field :privacy, :class => 'field' %>
	</div>
	
	<% end %>
</div>