<div class="yui-g box">
	<div class="yui-u first">
		<h1>Create new group</h1>
		<% form_for(@group) do |f| %>
		  <%= f.error_messages %>
			<%= f.label :name, nil, :class => 'block'  %>
		    <%= f.text_field :name, :class => 'field' %>
    	
		    <%= f.label :description, nil, :class => 'block' %>
		    <%= f.text_area :description, :size => '28x5', :class => 'field' %>
    	
		   	<%= f.label :privacy, nil, :class => 'block' %>
		    <%= f.text_field :privacy, :class => 'field' %>
		
			<%= f.submit "Create", :class => 'button fl' %> <%= link_to 'Cancel', :back, :class => 'button fl' %>
	</div>
	<div class="yui-u">
		<h1>Group Logo</h1>
			<%= f.label :photo, nil, :class => 'block' %>
	    	<%= f.text_field :photo, :class => 'field' %>
		<% end %>
	</div>
</div>