<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @group.description %>
</p>

<p>
  <b>Photo:</b>
  <%=h @group.photo %>
</p>

<p>
  <b>Privacy:</b>
  <%=h @group.privacy %>
</p>

<p>
  <b>Traced:</b>
  <%=h @group.traced %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
