<div class="tabs">
	<span class="back"><%= link_to "&larr; Back", :back %></span>
	<span class="active">Profile</span>
</div>
<div class="yui-g info main">
  	<div class="yui-u first">
		<div class="box">
			<div class="box-left"></div>
	  		<div class="box-header">	
				<%= image_tag 'mark.png' %>
				<h1>Details</h1>
			</div>
			<div class="box-right"></div>
			<div class="box-content">			
		  	  	<ul class="details">
		  	  		<li><div>Name</div> <%= @user.name.empty? ? 'n/a' : @user.name -%></li>
		  	  		<li><div>Location</div> n/a</li>
		  	  		<li><div>Email</div> <%= @user.email -%></li>
		  	  		<li><div>Birthday</div> <%= @user.birthdate.nil? ? 'n/a' : @user.birthdate.to_s(:long) -%></li>
		  	  		<li><div>Gender</div> <%= @user.gender.nil? ? 'n/a' : @user.gender -%></li>
		  	  	</ul>
				<div class="photo"><%= photo_or_gravatar_for @user, {:size => 100} %></div>
				<div class="cf"></div>
			</div>
		</div>
	</div>
	<div class="yui-u">
		<div class="box">
			<div class="box-left"></div>
	  		<div class="box-header">	
				<%= image_tag 'mark.png' %>
				<h1>Vehicle details</h1>
			</div>
			<div class="box-right"></div>
			<div class="box-content"></div>
		</div>
		<div class="box">
			<div class="box-left"></div>
	  		<div class="box-header">	
				<%= image_tag 'mark.png' %>
				<h1>GPS device</h1>
			</div>
			<div class="box-right"></div>
			<div class="box-content"></div>
		</div>
	</div>
</div>