<div id="hd">
  <%= image_tag("logo_alpha2.png", :class => 'fl logo')  %>
  <ul id="navbar" class="fl">
    <div>
		<li class="navbar-item"><%= link_to_unless_current("<p>Home</p>", root_path, :class => 'home'){ |content| content_tag("span", content, :class => 'home-active')} -%></li>
    	<li class="navbar-item"><%= link_to_unless_current("<p>How to</p>", howto_path, :class => 'howto'){ |content| content_tag("span", content, :class => 'howto-active')} -%></li>
    </div>
    <div>
		<li class="navbar-item"><%= link_to_unless_current("<p>Social</p>", social_path, :class => 'social'){ |content| content_tag("span", content, :class => 'social-active')} -%></li>
	</div>
	<div>
		<li class="navbar-item"><%= link_to_unless_current("<p>Map</p>", map_path, :class => 'map'){ |content| content_tag("span", content, :class => 'map-active')} -%></li>
    	<li class="navbar-item"><%= link_to_unless_current("<p>About</p>", about_path, :class => 'about'){ |content| content_tag("span", content, :class => 'about-active')} -%></li>
	</div>
  </ul>
  <div class="hd-left"></div><div class="hd-right"></div><div class="hd-bar"></div>	
</div>
