<ul class="menu">
  	<li class="menu-item user first <%= is_current?(user_path(current_user)) %>"><%= link_to_unless_current(image_tag('menu/dashboard.png')+" Dashboard", user_path(current_user)){ |content| content_tag("span", content, :class => 'current user')} -%></li>
	<li class="menu-item user <%= is_current?(user_traces_path(current_user)) %>"><%= link_to_unless_current(image_tag('menu/map.png')+" My Traces", user_traces_path(current_user)){ |content| content_tag("span", content, :class => 'current user')} -%></li>
  	<li class="menu-item user <%= is_current?(user_bookmarks_path(current_user)) %>"><%= link_to_unless_current(image_tag('menu/bookmarks.png')+" My Bookmarks", user_bookmarks_path(current_user)){ |content| content_tag("span", content, :class => 'current user')} -%></li>
  	<li class="menu-item user <%= is_current?(user_info_path(current_user)) %>"><%= link_to_unless_current(image_tag('menu/info.png')+" My Profile", user_info_path(current_user)){ |content| content_tag("span", content, :class => 'current user')} -%></li>
	<li class="menu-item user <%= is_current?(user_prefs_path(current_user)) %>"><%= link_to_unless_current(image_tag('menu/prefs.png')+" Preferences", user_prefs_path(current_user)){ |content| content_tag("span", content, :class => 'current')} -%></li>
</ul>