<div class="box">
	<h1>Why uTrace?</h1>
	<ul>
		<li>Brutal</li>
		<li>Espectacular</li>
		<li>Lindo</li>
		<li>Impressionante</li>
		<li>Maravilhoso</li>
		<li>Fantástico</li>
		<li>Inacreditável</li>
		<li>Brilhante</li>
		<li>Magnífico</li>
		<li>Uma obra-prima</li>
	</ul>
	<%= link_to "Log in to account", login_path, { :title => "Log in", :class => "modal button" } %> 
	<%= link_to "Sign up in 20 sec", signup_path, { :title => "Sign up", :class => 'modal button hl' } %>
</div>
<%= image_tag 'sidebar-shadow.png' %>
<div class="follow">
	<div class="twitter"><%= image_tag 'twitter.png' %> Stay in touch <%= link_to "@youtrace", "http://twitter.com/youtrace" %></div>
</div>
<div class="beta">uTrace Social Platform is in <strong>beta</strong> release<br/>Please <a href="#">contact us</a> if you have any suggestion or problem</div>