<% content_for :headers do %>
 	<script type="text/javascript"><!--
	clickHeatSite = 'youtrace';clickHeatGroup = 'main_page';clickHeatServer = 'http://localhost/clickheat/click.php';initClickHeat(); //-->
	</script>
<% end unless logged_in? %>

<% if logged_in? -%>
<div class="tabs">
	<span class="back"><%= link_to "&larr; Back", :back %></span>
	<span class="active">Home</strong></span>
</div>
<% end %>
<div class="<%= 'main' if logged_in? -%>">
	<div class="section">
		<div class="fl" style="width: 18%; text-align: center; margin-right: 10px"><%= image_tag 'intro.png'%></div>
		<div class="fl" style="width: 79%">
			<div class="title">Hello, this is uTrace.</div>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus, metus a luctus ullamcorper, est nisl sollicitudin quam, a malesuada risus augue ac enim. Maecenas gravida congue imperdiet. Vestibulum commodo volutpat magna, vitae posuere lectus lacinia ac. Integer ullamcorper, lectus eleifend tempus blandit, nunc libero consequat quam, varius tristique metus nisl id dui. Praesent et ipsum neque, et ornare sapien. Cras scelerisque accumsan sodales. Ut ultrices nisl in lectus congue eget rutrum risus placerat. Nam vel mi vitae nisi luctus ultrices at a mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla accumsan sagittis justo, eu sollicitudin quam vulputate quis. Vestibulum vehicula pellentesque lorem. Nam augue risus, euismod vel viverra non, accumsan quis felis. Sed a est a sem imperdiet molestie. Sed at nunc nec ipsum vestibulum pulvinar nec aliquam velit. Cras nec enim sed nisl iaculis cursus. Maecenas imperdiet dictum velit. Duis purus felis, luctus vitae tristique ac, suscipit in velit. Aliquam eleifend suscipit condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </div>
		</div>
		<div class="cf"></div>
	</div>
	<div class="section">
		<div class="fl" style="width: 18%; text-align: center; margin-right: 10px"><%= image_tag 'download.png' %></div>
		<div class="fl" style="width: 79%">
			<div class="title">Trace. Upload. Enjoy.</div>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus, metus a luctus ullamcorper, est nisl sollicitudin quam, a malesuada risus augue ac enim. Maecenas gravida congue imperdiet. Vestibulum commodo volutpat magna, vitae posuere lectus lacinia ac. Integer ullamcorper, lectus eleifend tempus blandit, nunc libero consequat quam, varius tristique metus nisl id dui. Praesent et ipsum neque, et ornare sapien. Cras scelerisque accumsan sodales. Ut ultrices nisl in lectus congue eget rutrum risus placerat. Nam vel mi vitae nisi luctus ultrices at a mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla accumsan sagittis justo, eu sollicitudin quam vulputate quis. Vestibulum vehicula pellentesque lorem. Nam augue risus, euismod vel viverra non, accumsan quis felis. Sed a est a sem imperdiet molestie. Sed at nunc nec ipsum vestibulum pulvinar nec aliquam velit. Cras nec enim sed nisl iaculis cursus. Maecenas imperdiet dictum velit. Duis purus felis, luctus vitae tristique ac, suscipit in velit. Aliquam eleifend suscipit condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </div>
		</div>
		<div class="cf"></div>
	</div>
	<div class="section">
		<div class="fl" style="width: 18%; text-align: center; margin-right: 10px"><%= image_tag 'engine.png' %></div>
		<div class="fl" style="width: 79%">
			<div class="title">Better. Faster. Stronger.</div>
			<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus, metus a luctus ullamcorper, est nisl sollicitudin quam, a malesuada risus augue ac enim. Maecenas gravida congue imperdiet. Vestibulum commodo volutpat magna, vitae posuere lectus lacinia ac. Integer ullamcorper, lectus eleifend tempus blandit, nunc libero consequat quam, varius tristique metus nisl id dui. Praesent et ipsum neque, et ornare sapien. Cras scelerisque accumsan sodales. Ut ultrices nisl in lectus congue eget rutrum risus placerat. Nam vel mi vitae nisi luctus ultrices at a mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla accumsan sagittis justo, eu sollicitudin quam vulputate quis. Vestibulum vehicula pellentesque lorem. Nam augue risus, euismod vel viverra non, accumsan quis felis. Sed a est a sem imperdiet molestie. Sed at nunc nec ipsum vestibulum pulvinar nec aliquam velit. Cras nec enim sed nisl iaculis cursus. Maecenas imperdiet dictum velit. Duis purus felis, luctus vitae tristique ac, suscipit in velit. Aliquam eleifend suscipit condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </div>
		</div>
		<div class="cf"></div>
	</div>
</div>
<% if logged_in? %>
<div class="box-shadow">
	<div class="box-shadow-left"></div>
	<div class="box-shadow-right"></div>
</div>
<% end %>