<div class="tabs">
	<span class="back"><%= link_to "&larr; Back", :back -%></span>
	<span class="active">Search<% unless params[:q].nil? -%>: <strong><%= params[:q] -%></strong><% end -%></span>
</div>
<div class="yui-g main">
  <div class="yui-u first">
	<div class="box">
  		<div class="box-header">	
			<%= image_tag 'mark.png', :class => 'mark' %>
			<h1>Traces</h1>
		</div>
		<div class="box-content">
			<% if !@results.empty? -%>
				<h2>We've found <%= pluralize(@results.size, 'trace') %></h2>
				<div class="item-list">
				<% @results.each do |t| -%>
				   	<%= render :partial => 'traces/trace_item', :locals => { :t => t, :s => 'user'}%>
				<% end -%>
				</div>
			<% else -%>
				<h2>No traces were found.</h2>
			<% end -%>
		</div>
	</div>
  </div>
  <div class="yui-u">
	<div class="box">
  		<div class="box-header">	
			<%= image_tag 'mark.png', :class => 'mark' %>
			<h1>Popular Tags</h1>
		</div>
		<div class="box-content">
			<% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
			    <%= link_to tag.name, tag_path(tag.name), :class => "tag " + css_class %>
			<% end %>
		</div>
	</div>
    
  </div>
</div>
<div class="box-shadow">
	<div class="box-shadow-left"></div>
	<div class="box-shadow-right"></div>
</div>