<div class="message">
	<div class="message-header <%= 'own' if e.user == current_user %>">
		<div class="message-sender"><strong><%= link_to_unless(e.user == current_user, e.user.login, user_path(e.user)) %></strong> <small>(<%= time_ago_in_words e.created_at %> ago)</small> <%= link_to(image_tag('icons/mini/delete.gif', :size => "10x10"), event_path(e), :title => "Delete comment", :class => "extra", :confirm => "Delete this comment?", :method => :delete)  if e.user == current_user && is_own?(params[:id]) -%></div>
	</div>
	<div class="message-body"><%= image_tag 'icons/'+e.format+'.png' -%> <%=h e.text -%></div>
</div>