<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>YouTrace Social Platform</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <%= stylesheet_link_tag "main"  %>
    <%= stylesheet_link_tag "reset-fonts-grids.css" %>
    <% if controller.action_name == "map" || controller.action_name == "traces" -%>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAA3nav32DtbW5MFnDtJpeZZBRopN2rk1zMLE79IKq4tyYku6rrDBStxV7sgGMzdav5bgwGsZXhQ1W5UA"></script>
    <script type="text/javascript">
        google.load("maps", "2.x");
        
        // Call this function when the page has been loaded
        function initialize() {
            var map = new google.maps.Map2(document.getElementById("map"));
            map.setCenter(new google.maps.LatLng(40.203329,-8.405614), 13);
            map.addControl(new GLargeMapControl());
            map.addControl(new GMapTypeControl());
            map.enableScrollWheelZoom();
        }
        google.setOnLoadCallback(initialize);
    </script>
	<% end -%>
  </head>
  <body onunload="GUnload()">
    <div id="doc3" class="yui-t1">
      <%= render :partial => "home/header" -%>
      <div id="bd"> 
        <%= flash_messages -%>
        <div id="yui-main">
          <div class="yui-b">
            <div class="yui-ge">
              <div class="yui-u first main">
                <%= render :partial => "home/tips" -%>
                <%= yield -%>
              </div>
              <div class="yui-u sidebar">
                <%= render :partial => "home/sidebar" -%>
              </div>
            </div> 
          </div> 
        </div> 
        <div class="yui-b profile_menu">
          <%= render :partial => "home/profile_menu" -%>
        </div> 
      </div> 
      <%= render :partial => "home/footer" -%>
    </div>
  </body>
</html>