<p>
  <b>Username:</b>
  <%=h @account.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @account.password %>
</p>

<p>
  <b>Email:</b>
  <%=h @account.email %>
</p>

<p>
  <b>Status:</b>
  <%=h @account.status %>
</p>

<p>
  <b>Code:</b>
  <%=h @account.code %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
